<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rookie Career Prediction</title>
</head>
<body>
    
    <h2> Welcome to Dagobah </h2>

    <form action="/submit" method="post" style="text-align:center;">

        <label for "Rookie year" > Rookie year:</label><br>
        <input type ="text" id="year" name="Year" value="2022"  style="text-align:center;" ><br>
        <br>
        <label for "Franchise"> Franchise:</label><br>
        <input type="text" id="Team" name="Team" value="LAL" style="text-align:center;" ><br>
        <br>
        <label for "Age"> Age:</label><br>
        <input type="text" id="Age" name="Age" value="22" style="text-align:center;" ><br>
        <br>
        <label for "Games Played"> Games Played:</label><br>
        <input type="text" id="Games" name="Games" value="50" style="text-align:center;" ><br>
        <br>
        <label for "Minutes Played Per Game"> Minutes Played Per Game:</label><br>
        <input type="text" id="MPpg" name="MPpg" value="30.2" style="text-align:center;" ><br>
        <br>
        <label for "Points Per Game"> Points Per Game:</label><br>
        <input type="text" id="PTSpg" name="PTSpg" value="20.3" style="text-align:center;" ><br>
        <br>
        <label for "Field Goal Per Game"> Field Goal Per Game:</label><br>
        <input type="text" id="FGpg" name="FGpg" value="10" style="text-align:center;" ><br>
        <br>
        <label for "Field Goal Percentage Per Game"> Field Goal Percentage Percentage Per Game /100 :</label><br>
        <input type="text" id="FG%" name="FG%" value="50" style="text-align:center;" ><br>
        <br>
        <label for "Assists Per Game"> Assists Per Game:</label><br>
        <input type="text" id="ASTpg" name="ASTpg" value="7.3" style="text-align:center;" ><br>
        <br>
        <label for "Offensive Rebounds Per Game"> Offensive Rebounds Per Game:</label><br>
        <input type="text" id="ORBpg" name="ORBpg" value="4.3" style="text-align:center;" ><br>
        <br>
        <label for "Deffensive Rebounds Per Game"> Deffensive Rebounds Per Game:</label><br>
        <input type="text" id="DRBpg" name="DRBpg" value="5.2" style="text-align:center;" ><br>
        <br>
        <label for "Steals Per Game"> Steals Per Game:</label><br>
        <input type="text" id="STLpg" name="STLpg" value="2.3" style="text-align:center;" ><br>
        <br>
        <label for "Blocks Per Game"> Blocks Per Game:</label><br>
        <input type="text" id="BLKpg" name="BLKpg" value="3.3" style="text-align:center;" ><br>
        <br>
        <label for "Three Pts Attempted  Per Game"> Three Pts Attempted  Per Game:</label><br>
        <input type="text" id="3Ppg" name="3Ppg" value="4.3" style="text-align:center;" ><br>
        <br>
        <label for "Free Throws Attempted  Per Game"> Free Throws Attempted  Per Game:</label><br>
        <input type="text" id="FTpg" name="FTpg" value="7.3" style="text-align:center;" ><br>
        <br>
        <label for "Free Throws Percentage Per Game"> Free Throws Percentage Percentage Per Game/100:</label><br>
        <input type="text" id="FT%" name="FT%" value="77" style="text-align:center;" ><br>
        <br>
        <label for "Personal Fouls Per Game"> Personal Fouls Per Game:</label><br>
        <input type="text" id="PFpg" name="PFpg" value="4.3" style="text-align:center;" ><br>
        <br>
        <label for "Turnovers Per Game"> Turnovers Per Game:</label><br>
        <input type="text" id="TOVpg" name="TOVpg" value="2.3" style="text-align:center;" ><br>
        <br>

        <input type="submit"  value="Get Prediction" ><br>
    </form>

</body>
</html>